@import 'tailwindcss';
@import './theme.css';
@import './utility/index.css';

/* ==========================================================================
   2. 기본 및 다크 모드 스타일 (Base & Dark Mode Styles)
   ========================================================================== */
@layer base {
  :root {
    --background: var(--color-bg-purple); /* 라이트 모드 기본 배경 */
    --foreground: var(--color-gray-900); /* 라이트 모드 기본 텍스트 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-sans);
  }
}

/* ==========================================================================
   3. 커스텀 컴포넌트 (Custom Components)
   ========================================================================== */

@layer components {
  .toast-container {
    @apply fixed top-4 right-4 z-10 flex flex-col items-end space-y-2 max-w-md;
  }
}
